<a href="https://colab.research.google.com/github/fahmi551/colab_sol/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Examples
my_list = [1, 2, 3]
my_dict = {"name": "Alice", "age": 25}
import numpy as np
my_array = np.array([1, 2, 3])

# 2. Function to square even numbers
def square_even_numbers(lst):
    return [x**2 for x in lst if x % 2 == 0]

square_even_numbers([10, 15, 20, 25, 30])

# 3. Code Output and Why
x = [1, 2, 3]
y = x
y.append(4)
print(x)


# 4. shape and describe()
import pandas as pd
df = pd.DataFrame({
    "A": [1, 2, 3],
    "B": [4, 5, 6]
})
df.shape
df.describe()

# 5. Load CSV and print first 5 rows
df = pd.read_csv("airtravel.csv")
print(df.head())


# 6. Load airtravel.csv and analyze
df["Total"] = df.iloc[:, 1:].sum(axis=1)
highest_month = df.loc[df["Total"].idxmax(), "Month"]
lowest_1958 = df.loc[df["1958"].idxmin(), "Month"]
print(highest_month)
print(lowest_1958)

# 7. groupby() Example
data = pd.DataFrame({
    "Team": ["A", "A", "B", "B"],
    "Score": [10, 20, 30, 40]
})
grouped = data.groupby("Team").mean()

# 8. Missing values in Titanic
import seaborn as sns
titanic = sns.load_dataset("titanic")
titanic.isnull().sum()

# 9. Age Distribution
titanic["age"].hist()


# 10. High Standard Deviation
import numpy as np
low_std = [5, 5, 5, 5, 5]
high_std = [1, 10, 20, 30, 40]
np.std(low_std), np.std(high_std)

# 11. Real-world problems with missing data
# 1. Medical diagnosis data missing patient symptoms
# 2. Financial datasets missing transaction records

#3  Output: [1, 2, 3, 4]
# Because y and x reference the same list in memory
#4 Output: (3, 2)
#5 Notice: The data has months as rows and years as columns
#9 Shape: Right-skewed (positively skewed)
# Reason: Many younger passengers; fewer older ones
# 11. Real-world problems with missing data
# 1. Medical diagnosis data missing patient symptoms
# 2. Financial datasets missing transaction records